.red {
	background-color: red;
}
.blue{
	background-color: blue;
}

.pink {
	background-color: pink;
}
.green {
	background-color: green;
}

content {
	display: flex;
	width:60%;
	margin:auto;
	flex-flow: row wrap;
}
content div{
	flex: 1;
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
}